<template name="Footer">
  <footer>
    <div style="padding-top: 15px" class="ui container">
      <hr>
      <div class="ui grid">
        <div class="eight wide column" style="text-align: center">
          Student project by Steven Braun, Kea Uehara,<br/>
          Riley Miyamoto, and Clint Morimoto<br/>
          <br/>
          University of Hawaii at Manoa
        </div>
        <div class="eight wide column" style="text-align: center">
          Contact us:<br>
          keal@hawaii.edu<br>
          clintmor@hawaii.edu<br>
          sbraun@hawaii.edu<br>
          rkam9@hawaii.edu
        </div>
      </div>
    </div>
  </footer>
</template>