@font-face {
  font-family: 'Press Start 2P', cursive;
  src: url("https://fonts.googleapis.com/css?family=Press+Start+2P");
}

body {
  font-size: 80%;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding-top: 61px;  /* Move body of page below navbar. */
}

h1, h2, h3, h4 {
  font-family: 'Press Start 2P';
}

.ui.top.fixed.borderless.inverted.menu {
  background-color: darkgreen;
}

#login-buttons a, .accounts-dialog a{
  color: white;
}

.ui.my.selectable.inverted.celled.padded.table, .ui.my.inverted.segment, .my.twelve.wide.centered.column, #add-food-form {
  color: white;
  background: -webkit-linear-gradient(darkgreen, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(darkgreen, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(darkgreen, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(darkgreen, black); /* Standard syntax (must be last) */
  border: solid white;
}

.ui.myPlace.inverted.segment {
  color: white;
  background: -webkit-linear-gradient(rgb(25, 90, 60), black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(25, 90, 60), black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(25, 90, 60), black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(25, 90, 60), black); /* Standard syntax (must be last) */
  border: solid white;
}

.my.content, .my.sub.header, .my.header {
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#add-food-button, #add-ingredient, .ui.button.remove-ingredient, .ui.button.edit-food-button {
  display: block;
  margin: auto;
  background: darkgreen;
  font-family: 'Press Start 2P', cursive;
  color: rgb(250,250,120);
}

#test-image, #edit-button{
  display: block;
  margin: auto;
  font-family: 'Press Start 2P', cursive;
  color: rgb(250,250,120);
  background: green;
  border: solid white;
}

textarea, .ui.error.message {
  font-family: Lato;
}

.ui.fluid.search.dropdown.menu {
  overflow: visible !important;
}

.map-container {
  width: 75%;
  max-width: 100%;
  height: 600px;
  margin: auto;
}

.rightB {
  float: right;
}
